# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
dist/
*.egg-info/
.pytest_cache/

# OS metadata
.DS_Store
Thumbs.db

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary & logs
*.log
